<%= form_for @caterer do |f| %>
<div class="form-group row">
	<div class="col-md-3">
		<label class="form-control-label">Title</label>
	</div>
	<div class="col-md-9">
		<%=f.text_field :title, class: 'form-control' ,data: { validation: "[NOTEMPTY]"}, required: true%>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<label class="form-control-label">Description</label>
	</div>
	<div class="col-md-9">
		<%=f.text_area :description, class: 'form-control', rows: 1, id: 'textarea'%>
	</div>
</div>

<%= f.fields_for :contact do |c| %>
<div class="form-group row">
	<div class="col-md-3">
		<label>Mobile Number</label>
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<div class="input-group-addon">+91</div>
			<%= c.text_field :mobile , class:'form-control'%>
		</div>
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<div class="input-group-addon">+91</div>
			<%= c.text_field :mobile_alt , class:'form-control', placeholder: 'Alternative' %>
		</div>.
	</div>
	<div class="col-md-1">
	</div>
</div>
<div class="form-group row">
	<div class="col-md-3">
		<label>Landline</label>
	</div>
	<div class="col-md-4">
		<%= c.text_field :landline , class:'form-control'%>
	</div>
	<div class="col-md-4">
		<%= c.text_field :landline_alt , class:'form-control' , placeholder: 'Alternative'%>
	</div>
	<div class="col-md-1">
	</div>
</div>
<% end %>
<div class="form-group row">
	<%= f.fields_for :address do |a| %>
	<div class="col-md-3">
		<label class="form-control-label">Address</label>
	</div>
	<div class="col-md-9">
		<%= a.text_area :location , class: 'form-control', rows: 1, id: 'textarea'%>
	</div>
	<% end %>
</div>

<div class="form-group row">
	<%= f.fields_for :offer do |o| %>
		<div class="col-md-3">
			<label class="form-control-lable">
				Offer ( Optional )
			</label>
		</div>
		<div class="col-md-9">
		<%= o.text_area :description, class: 'form-control', rows:1, id: 'textarea', placeholder: '30% discount between 5th may to 10th June on all birthdays'%>	
		</div>
	<% end %>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<label for="thumbnail" class="form-control-label">
			Thumbnail
		</label>
	</div>
	<div class="col-md-9">
		<%= f.file_field :thumbnail %>
	</div>
</div>

<div>
<%= f.fields_for :images do |i| %>
<%= render 'image_fields', f:i %>
<% end %>
<%= link_to_add_association 'Add Image', f, :images, class:"btn btn-primary"%>
</div>
<br/>
<div class="form-group">
	<%= f.fields_for :menus do  |m| %>
	<%= render 'menu_fields', f: m %>
	<% end %>
	<%# link_to_add_fields "+ Menu Item", f, :menus, "btn btn-success", "Add A new Menu" %>
	<%= link_to_add_association 'Add Menu', f, :menus, class:"btn btn-primary"%>
</div>

<div class="form-group">
	<%= f.fields_for :packages do |p| %>
	<%= render 'package_fields', f: p %>
	<% end %>
	<div>
		<%= link_to_add_association 'Add Package', f, :packages, class:"btn btn-primary"%>
		<%# link_to_add_fields "+ Package", f, :packages, "btn btn-success", "Add A new Package" %>
	</div>
</div>
<div class="form-actions">
	<%= f.submit class: 'btn btn-primary'%>
	<% if request.original_fullpath.include? "edit" %>
		<br />	
		<br />
		<%= link_to "Delete Caterer", caterer_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you Sure?'} %> 
	<% end %>
</div>
<%end%>