<section class="row">
	<div class="col-lg-8">
		<section class="panel">
			<div class="panel-heading">
				<div class="pull-right">
					<%= link_to '<i class="icmn-pencil3"></i> <b>Edit</b>'.html_safe, edit_caterer_path , class: 'btn btn-squared btn-primary' %>	
				</div>
				<h1><%= @caterer.title %></h1>
			</div>
			<div class="panel-body">
				<p><%= @caterer.description %></p>
			</div>
		</section>
	</div>
	<div class="col-lg-4">
		<section class="panel">
			<div class="panel-heading">
				<h5>Address</h5>
			</div>
			<div class="panel-body">
				<p><%= @caterer.address.location %></p>
				<% if @caterer.thumbnail %>
				<%= image_tag @caterer.thumbnail.url, width: '100%' %>
				<%end%>
			</div>
		</section>
	</div>
</section>

<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<div class="panel-heading">
				<h3>Current Offers</h3>
			</div>
			<div class="panel-body">
				<p><i class="icmn-svg"></i> <%= @caterer.offer.description %></p>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<div class="panel-heading">
				<h1>Contact Information</h1>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-4">
						<h5>Mobile</h5>
					</div>
					<div class="col-lg-4">
						<%= @caterer.contact.mobile %>
					</div>
					<div class="col-lg-4">
						<%= @caterer.contact.mobile_alt %>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<h5>Landline</h5>
					</div>
					<div class="col-lg-4">
						<%= @caterer.contact.landline %>
					</div>
					<div class="col-lg-4">
						<%= @caterer.contact.landline_alt %>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<section class="panel">
	<div class="panel-heading">
		<h1>Images</h1>
	</div>
	<div class="panel-body">
		<div class="app-gallery clearfix">
			<% @caterer.images.each do |image| %>
			<div class="app-gallery-item" style="background-image:url(<%= image.picture.url %>)">
				<div class="app-gallery-item-hover">
					<p style="color: white !important"><%= image.caption %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>


<section class="panel">
	<div class="panel-heading">
		<h2>Menu</h2>
	</div>
	<div class="panel-body">
		<% @caterer.menus.each_with_index do |menu, index| %>
		<a data-toggle="collapse" data-target="#menu<%= index %>"><h4><i class="icmn-plus3"></i> <%= menu.title %></h4></a>
		<div id="menu<%= index %>" class="collapse">
			<table class="table">
				<thead class="thead-default">
					<tr>
						<th>#</th>
						<th>Dish Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<% menu.dishes.each_with_index do |dish, index| %>
					<tr>
						<th scope="row"><%= index + 1 %></th>
						<td><%= dish.title %></td>
						<td><%= dish.dish_type %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>	
</section>

<section class="panel">
	<div class="panel-heading">
		<h2>Packages</h2>
	</div>
	<div class="panel-body">
		<% @caterer.packages.each_with_index do |package, index| %>
		<a data-toggle="collapse" data-target="#package<%= index %>"><h4><i class="icmn-plus3"></i> <%= package.title %></h4></a>
		<div id="package<%= index %>" class="collapse">
			<table class="table">
				<thead class="thead-default">
					<tr>
						<th>#</th>
						<th>Dish Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<% package.dishes.each_with_index do |dish, index| %>
					<tr>
						<th scope="row"><%= index + 1 %></th>
						<td><%= dish.title %></td>
						<td><%= dish.dish_type %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>	
</section>



