<nav class="top-submenu top-submenu-with-background">
	<div class="profile-header">
		<div class="profile-header-info">
			<div class="row">
				<div class="col-xl-8 col-xl-offset-4">
					<div class="width-100 text-center pull-right hidden-md-down">
						<h2><%= @user.venues.count %></h2>
						<p>Venues</p>
					</div>
					<div class="width-100 text-center pull-right hidden-md-down">
						<h2><%= @user.caterers.count %></h2>
						<p>Caterers</p>
					</div>
					<div class="width-100 text-center pull-right hidden-md-down">
						<h2><%= @user.planners.count %></h2>
						<p>Planners</p>
					</div>
					<div class="width-100 text-center pull-right hidden-md-down">
						<h2><%= @user.planners.count %></h2>
						<p>Decorators</p>
					</div>
					<div class="profile-header-title">
						<h3>Welcome</h3>
                     <h4><small><%= @user.email %></small></h4>
                 </div>
             </div>
         </div>
     </div>
 </div>
</nav>

<div class="row">
	<div class="col-xl-4">
		<section class="panel profile-user" style="background-color:#3498db">
			<div class="panel-body">
				<div class="profile-user-title text-center">
					<a class="avatar" href="javascript:void(0);">
						<%= image_tag @user.avatar.url %>
					</a>
					<h4 ><small style="color:white !important"><%= @user.name %></small></h4>
				</div>
			</div>
		</section>
		<section class="panel">
			<div class="panel-body">
				<h6>Actions</h6>
				<% if current_user.admin? %>
                <div class="btn-group-vertical btn-group-justified">
                    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %>
                    <%= link_to 'View all Venues', venues_path, class: 'btn' %>
                    <%= link_to 'View all Caterers', caterers_path, class: 'btn' %>
                    <%= link_to 'View all Planners', planners_path, class: 'btn' %>
                    <%= link_to 'View all Decorators', decorators_path, class: 'btn' %>
                </div>
                <% else %>
                <div class="btn-group-vertical btn-group-justified">
                    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn' %>
                    <%= link_to 'View Venues', dashboard_venues_path, class: 'btn' %>
                    <%= link_to 'View Caterers', dashboard_caterers_path, class: 'btn' %>
                    <%= link_to 'View Planners', dashboard_planners_path, class: 'btn' %>
                    <%= link_to 'View all Decorators', dashboard_decorators_path, class: 'btn' %>
                </div>
                <% end %>
            </div>
        </section>
    </div>
</div>

<script>
	$(function() {

        ///////////////////////////////////////////////////////////
        // ADJUSTABLE TEXTAREA
        autosize($('.adjustable-textarea'));

        ///////////////////////////////////////////////////////////
        // MEDIA PLAYER
        if (!(typeof angular === 'undefined')) {
        	$('.mediatec-cleanaudioplayer').cleanaudioplayer();
        	$('.mediatec-cleanvideoplayer').cleanvideoplayer();
        }

        ///////////////////////////////////////////////////////////
        // CALENDAR
        $('.example-calendar-block').fullCalendar({
            //aspectRatio: 2,
            height: 450,
            header: {
            	left: 'prev, next',
            	center: 'title',
            	right: 'month, agendaWeek, agendaDay'
            },
            buttonIcons: {
            	prev: 'none fa fa-arrow-left',
            	next: 'none fa fa-arrow-right',
            	prevYear: 'none fa fa-arrow-left',
            	nextYear: 'none fa fa-arrow-right'
            },
            Actionable: true,
            eventLimit: true, // allow "more" link when too many events
            viewRender: function(view, element) {
            	if (!cleanUI.hasTouch) {
            		$('.fc-scroller').jScrollPane({
            			autoReinitialise: true,
            			autoReinitialiseDelay: 100
            		});
            	}
            },
            eventClick: function(calEvent, jsEvent, view) {
            	if (!$(this).hasClass('event-clicked')) {
            		$('.fc-event').removeClass('event-clicked');
            		$(this).addClass('event-clicked');
            	}
            },
            defaultDate: '2016-05-12',
            events: [
            {
            	title: 'All Day Event',
            	start: '2016-05-01',
            	className: 'fc-event-success'
            },
            {
            	id: 999,
            	title: 'Repeating Event',
            	start: '2016-05-09T16:00:00',
            	className: 'fc-event-default'
            },
            {
            	id: 999,
            	title: 'Repeating Event',
            	start: '2016-05-16T16:00:00',
            	className: 'fc-event-success'
            },
            {
            	title: 'Conference',
            	start: '2016-05-11',
            	end: '2016-05-14',
            	className: 'fc-event-danger'
            }
            ]
        });

        ///////////////////////////////////////////////////////////
        // SWAL ALERTS
        $('.swal-btn-success').click(function(e){
        	e.preventDefault();
        	swal({
        		title: "Following",
        		text: "Now you are following Artour Scott",
        		type: "success",
        		confirmButtonClass: "btn-success",
        		confirmButtonText: "Ok"
        	});
        });

        $('.swal-btn-success-2').click(function(e){
        	e.preventDefault();
        	swal({
        		title: "Friends request",
        		text: "Friends request was succesfully sent to Artour Scott",
        		type: "success",
        		confirmButtonClass: "btn-success",
        		confirmButtonText: "Ok"
        	});
        });

    });
</script>