<%= form_for @decorators do |f| %>
<div class="form-group row">
	<div class="col-md-3">
		<label class="form-control-label">
			Title
		</label>
	</div>
	<div class="col-md-9">
		<%= f.text_field :title , class: 'form-control', data: { validation: "[NOTEMPTY]"}, required: true%>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<label class="form-control-label">
			Description
		</label>
	</div>
	<div class="col-md-9">
		<%= f.text_area :description , class: 'form-control', rows:1, id: 'textarea'%>
	</div>							
</div>
<%= f.fields_for :contact do |c| %>
<div class="form-group row">
	<div class="col-md-3">
		<label>Mobile Number</label>
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<div class="input-group-addon">+91</div>
			<%= c.text_field :mobile , class:'form-control'%>
		</div>
	</div>
	<div class="col-md-4">
		<div class="input-group">
			<div class="input-group-addon">+91</div>
			<%= c.text_field :mobile_alt , class:'form-control', placeholder: 'Alternative' %>
		</div>.
	</div>
	<div class="col-md-1">
	</div>
</div>
<div class="form-group row">
	<div class="col-md-3">
		<label>Landline</label>
	</div>
	<div class="col-md-4">
		<%= c.text_field :landline , class:'form-control'%>
	</div>
	<div class="col-md-4">
		<%= c.text_field :landline_alt , class:'form-control' , placeholder: 'Alternative'%>
	</div>
	<div class="col-md-1">
	</div>
</div>
<% end %>

<div class="form-group row">
	<%= f.fields_for :address do |a| %>
	<div class="col-md-3">
		<label for="address" class="form-control-label">
			Address
		</label>
	</div>
	<div class="col-md-9">
		<%= a.text_area :location , class: 'form-control', rows:1, id: 'textarea'%>
	</div>
	<% end %>
</div>

<div class="form-group row">
	<div class="col-md-3">
		<label for="terms" class="form-control-label">
			Terms and Conditions
		</label>
	</div>
	<div class="col-md-9">
		<%= f.text_area :terms, class: 'form-control', rows:1, id: 'textarea' %>
	</div>
</div>

<div>
	<%= f.fields_for :images do |i| %>
	<%= render 'image_fields', f:i %>
	<% end %>
	<%= link_to_add_association 'Add Image', f, :images, class:"btn btn-primary"%>
</div>

<div class="form-actions">
	<%= f.submit class: 'btn btn-primary'%>
	<% if request.original_fullpath.include? "edit" %>
	<br />	
	<br />
	<%= link_to "Delete Decorator", decorator_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you Sure?'} %> 
	<% end %>
</div>
<%end%>